<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>오므론헬스케어</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/font.css">
	<link rel="stylesheet" href="omron/main.css">
</head>
<body>
	<h1 class="hidden">오므론헬스케어</h1>
	<section>
		<h2>Health & Lifestyle</h2>
		<div class="list-wrap">
			<ul class="clearfix">
				<li>
					<a href="#">
						<div class="txt-box">
							<strong>통증 질환</strong>
							<p>급성통증의 특징과 주의점</p>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="txt-box">
							<strong>우리 아이 소아천식</strong>
							<p>소아천식 관리의 중요성</p>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="txt-box">
							<strong>호흡기 질환</strong>
							<p>가정혈압측정이 왜 중요할까요?</p>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="txt-box">
							<strong>심혈관 질환</strong>
							<p>심장병이란 어떤 병인가?</p>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="txt-box">
							<strong>심혈관 질환</strong>
							<p>당뇨병이란 어떤 병인가?</p>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="txt-box">
							<strong>심혈관 질환</strong>
							<p>대사증후군이란 무엇인가?</p>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="txt-box">
							<strong>심혈관 질환</strong>
							<p>비만을 왜 조심해야할까요?</p>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="txt-box">
							<strong>심혈관 질환</strong>
							<p>동맥경화는 왜 무서운가?</p>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="txt-box">
							<strong>심혈관 질환</strong>
							<p>고지혈증이란 어떤 병인가?</p>
						</div>
					</a>
				</li>
			</ul>
		</div>
	</section>
</body>
</html>