#container{
    width: 100%;
    padding: 100px 0;
    /* margin: 0 auto; */
}
section{
    width: 100%;
    padding: 0 5%;
    box-sizing: border-box;
}
.intro{
    margin-bottom: 100px;
}
.intro-box{
    /* width: 100%; */
}
.intro-box .intro-txt-box{
    width: 50%;
    float: left;
    padding: 100px 0;
}
.intro-box .intro-txt-box img{
    margin: 20px 0 50px;
}
.intro-box figure::before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid #a9c638;
    position: absolute;
    left: -8%;
    top: 8%;
}
.intro-box figure{
    width: 40%;
    float: right;
    position: relative;
}
.intro-box figure img{
    width: 100%;
    position: relative;
}
.intro-box .intro-txt-box h2 span{
    font-size: 14px;
    font-weight: bold;
    color: #a9c638;
    display: inline-block;
    letter-spacing: 0.4em;
}

.intro-box .intro-txt-box p {
    font-size: 16px;
    color: #1c1c1c;
    line-height: 1.8em;
}

/* @media screen and (max-width: 768px) {
    #container{
        width: 100%;
        padding: 100px 10%;
        margin: 0 auto;
    }
    .intro-box{
        margin: 0 auto;
        text-align: center;
    }
    .intro-box .intro-txt-box{
        width: 100%;
        float: none;
    }
    .intro-box > img{
        width: 100%;
        float: none;
        padding: 0 100px;
    }
} */

/* ac-box */
.ac-box{
    padding-top: 100px;
}
.ac-box h2{
    font-size: 52px;
    color: #1c1c1c;
    text-align: center;
}
.ac-box ul{
    text-align: center;
    /* float: left; */
    /* padding: 60px 0 80px; */
   padding-bottom: 35%;
   position: relative;
}
.ac-box ul li{
    display: inline-block;
    padding: 40px 12px;
    /* float: left; */
}
.ac-box ul li span{
    font-size: 13px;
    color: #a9c638;
    cursor: pointer;
}
.ac-box .room-wrap .txt-box h3{
    font-size: 36px;
    color: #1c1c1c;
}
.ac-box .room-wrap .txt-box p{
    font-size: 14px;
    line-height: 1.5em;
    color: #1c1c1c;
    margin: 20px 0 40px;
}
.ac-box .room-wrap .txt-btn {
    font-size: 12px;
    font-weight: bold;
}
.ac-box .room-wrap .txt-btn .btn-de{
    background: #858585;
    color: #fff;
    padding: 0.8em 2.2em;
    letter-spacing: 0.2em;
}
.ac-box .room-wrap .txt-btn .btn-bn{
    background: #a9c638;
    color: #fff;
    padding: 0.8em 2.2em;
    letter-spacing: 0.2em;
}
.ac-box ul .room-wrap{
    width: 100%;
    padding: 0 5%;
    position: absolute;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
}
.ac-box .active .room-wrap{
    display: block;
}
.ac-box li .room-wrap{
    background-color: #fff;
    display: none;
}
.ac-box .active span{
    font-weight: bold;
}
.ac-box li span:hover {
    font-weight: bold;
}
.ac-box li:hover > .room-wrap{
    display: block;
}
.ac-box .room-wrap img{
    width: 50%;
    float: left;
}
.ac-box .room-wrap .txt-box{
    width: 50%;
    float: right;
    text-align: left;
    padding: 5%;
    box-sizing: border-box;
}
