<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>한화생명금융서비스</title>
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="css/font.css">
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<div id="wrap">
		<h1 class="hidden">한화생명금융서비스</h1>
		<div id="container">
			<section class="company-sec">
				<div class="sec-inner sec-box">
					<h2>회사소개</h2>
					<p>고객의 삶과 함께하는 금융, <em class="hanwhaR">한화생명금융서비스</em></p>
					<ul class="clearfix">
						<li>
							<h3>초대형 판매전문회사</h3>
							<p>전국 450여개 지점의 영업망과 약 2만명 FP의<br>판매조직을 보유한 국내 최대 판매전문회사입니다.</p>
						</li>
						<li>
							<h3>고객 중심의 서비스</h3>
							<p>500만 고객님께 더 나은 금융 서비스와 종합 솔루션을<br>제공하고, 변함없는 신뢰를 받고 있는 금융파트너 입니다.</p>
						</li>
						<li>
							<h3>도전과 혁신의 문화</h3>
							<p>1946년 우리나라 최초로 생명보험을 시작한<br><em class="hanwhaL">한화생명</em>의 물적분할로 출범하여, 현장 중심 사고와<br>유연한 조직 문화로 끊임없이 도전하고 혁신하는 기업입니다.</p>
						</li>
					</ul>
				</div>
			</section>
			<section class="pr-sec">
				<div class="sec-inner sec-box">
					<h2>홍보센터</h2>
					<p>항상 고객과 소통하며 금융의 새 역사를 써나가겠습니다.</p>
					<a href="#">more</a>
					<ul class="clearfix">
						<li>
							<a href="#">
								<span class="date">2021-04-16</span>
								<h3>브랜드평판 1위 한화생명금융서비스</h3>
								<p>독립보험대리점(GA) 브랜드평판 4월 빅데이터 1위 한화생명금융서비스</p>
								<span class="view-btn">View Detail</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="date">2021-04-01</span>
								<h3>한화생명, 국내 최대 GA 출범...자본확충위한 IPO 추진</h3>
								<p>한화생명금융서비스, 4월1일 출범식 개최 총자본 6500억, FP 1만9000명 업계1위</p>
								<span class="view-btn">View Detail</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="date">2021-04-01</span>
								<h3>한화생명, 설계사 영업조직 분사..."2025년까지 2100억 이익낼 것"</h3>
								<p>한화생명금융서비스 출범...GA 업계1위 올라서 손보사 9곳과 제휴...오더메이드 상품 제공도 VIP자산관리 서비스 유지, 한화생명은 영업지원</p>
								<span class="view-btn">View Detail</span>
							</a>
						</li>
					</ul>
				</div>
			</section>
			<section class="tal-sec">
				<div class="sec-box">
					<h2>인재상</h2>
					<p><em class="hanwhaR">한화생명금융서비스</em>와 함께 할 최고의 인재를 찾습니다.</p>
					<div class="tal-box">
						<ul class="clearfix">
							<li>
								<dl>
									<dt><span>Challenge</span>도전적인 <em class="hanwhaL">한화인</em></dt>
									<dd>기존의 틀에 안주하지 않고<br>변화와 혁신을 통해<br>최고를 추구합니다.</dd>
								</dl>
							</li>
							<li class="bg">
								<dl>
									<dt class="dedi"><span>Dedication</span>헌신적인 <em class="hanwhaL">한화인</em></dt>
									<dd>회사,고객,동료와의 인연을<br>소중히 여기고 큰 목표를 위해<br>혼신의 힘을 다합니다</dd>
								</dl>
							</li>
							<li>
								<dl>
									<dt class="inte"><span>Integrity</span>정도의 <em class="hanwhaL">한화인</em></dt>
									<dd>자긍심을 바탕으로<br>원칙에 따라 바르고<br>공정하게 행동합니다.</dd>
								</dl>
							</li>
						</ul>
						<div class="tal-wrap clearfix">
							<div class="tal-left-box">
								<h3>Contact Us</h3>
								<p>FP지원 관련 궁금하신 점은 담당자에 문의하여<br>자세한 안내를 받으시길 바랍니다.</p>
								<ul class="clearfix">
									<li class="line"><span>담당부서</span>영업추진팀</li>
									<li><span>연락처</span>02-789-5829</li>
								</ul>
							</div>
							<div class="tal-right-box">
								<h3>채용공고</h3>
								<p>차세대 금융리더가 될 열정있는 인재를 기다립니다.</p>
								<figure>
									<img src="pc/images/img_rec_ban01.png" alt="FP를 모집합니다.">
								</figure>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</body>
</html>