<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>원룸, 오피스텔 입주청소 부름</title>
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="css/font.css">
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<div id="container">
		<h1 class="hidden">부름</h1>
		<section>
			<h2>이렇게 부름</h2>
			<p>#부름이용밥법#예상건적#결제방법#서비스지역</p>
			<div class="list-box">
				<ol class="clearfix">
					<li>
						<em>01</em>
						<dl>
							<dt>예상요금 확인</dt>
							<dd>청소부름 버튼을 누르신 후<br>
							원하시는 서비스를 선택해주세요.</dd>
						</dl>
					</li>
					<li>
						<em>02</em>
						<dl>
							<dt>예약완료</dt>
							<dd>담당 매니저님이 매칭되면<br>
							예약이 완료됩니다.</dd>
						</dl>
					</li>
					<li>
						<em>03</em>
						<dl>
							<dt>전액 후불</dt>
							<dd>청소 완료 후 현장에서 지불하시거나<br>
							매니저님 계좌로 입금해주세요.</dd>
						</dl>
					</li>
					<li>
						<em>04</em>
						<dl>
							<dt>리포트받기</dt>
							<dd>청소 전후 사진 및 시설진단 결과에<br>
							대한 리포트를 확인하세요.</dd>
						</dl>
					</li>
				</ol>
			</div>
			<a href="#">서비스 지역 보기</a>
		</section>
	</div>
</body>
</html>