<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>오'키친</title>
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="css/font.css">
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<div id="container">
		<h1 class="hidden">오'키친</h1>
		<section>
			<h2>인기레시피</h2>
			<p>오'키친에서 많은 분들이 찾아본 인기 레시피를 소개합니다.</p>
			<ul class="clearfix">
				<li>
					<a href="#"><img src="img/item_01.jpg" alt="햄마요덮밥"></a>
					<div class="txt-box">
						<div class="txt-tag">
							<strong>덮밥요리</strong>
							<strong>오뚜기햄</strong>
							<strong>골드마요네스</strong>
						</div>
						<h3>햄마요덮밥</h3>
					</div>
				</li>
				<li>
					<a href="#"><img src="img/item_02.jpg" alt="토마토냉파스타"></a>
					<div class="txt-box">
						<div class="txt-tag">
							<strong>파스타샐러드</strong>
							<strong>키즈셰프</strong>
							<strong>토마토퓨레</strong>
						</div>
						<h3>토마토 냉파스타</h3>
					</div>
				</li>
				<li>
					<a href="#"><img src="img/item_03.jpg" alt="콘치즈"></a>
					<div class="txt-box">
						<div class="txt-tag">
							<strong>치즈듬뿍</strong>
							<strong>단짠단짠</strong>
							<strong>골드마요네스</strong>
						</div>
						<h3>콘치즈</h3>
					</div>
				</li>
				<li class="ws">
					<a href="#"><img src="img/item_04.jpg" alt="카레비프스튜"></a>
					<div class="txt-box">
						<div class="txt-tag">
							<strong>3일숙성카레</strong>
							<strong>카레맛집</strong>
							<strong>쇠고기</strong>
						</div>
						<h3>카레비프스튜</h3>
					</div>
				</li>
				<li>
					<a href="#"><img src="img/item_05.jpg" alt="차돌박이 된장찌개"></a>
					<div class="txt-box">
						<div class="txt-tag">
							<strong>셰프의팁</strong>
							<strong>즉석국</strong>
							<strong>캠핑</strong>
						</div>
						<h3>차돌박이 된장찌개</h3>
					</div>
				</li>
				<li>
					<a href="#"><img src="img/item_06.jpg" alt="육개장 칼국수"></a>
					<div class="txt-box">
						<div class="txt-tag">
							<strong>셰프의팁</strong>
							<strong>즉석국</strong>
							<strong>집밥</strong>
						</div>
						<h3>육개장 칼국수</h3>
					</div>
				</li>
				<li>
					<a href="#"><img src="img/item_07.jpg" alt="유자 연근조림"></a>
					<div class="txt-box">
						<div class="txt-tag">
							<strong>집밥</strong>
							<strong>밑반찬</strong>
							<strong>꿀유자차</strong>
						</div>
						<h3>유자 연근조림</h3>
					</div>
				</li>
				<li class="ws">
					<a href="#"><img src="img/item_08.jpg" alt="에그마요 샌드위치"></a>
					<div class="txt-box">
						<div class="txt-tag">
							<strong>갈릭아이올리</strong>
							<strong>계란요리</strong>
							<strong>브런치</strong>
						</div>
						<h3>에그마요 샌드위치</h3>
					</div>
				</li>
			</ul>
		</section>
	</div>
</body>
</html>