<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>이유다이렉트</title>
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="css/font.css">
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<!-- <div id="container">
		<section>
			<ul class="clearfix">
				<li>
					<h2>자동차보험(법인)</h2>
					<p>여러 대의 자동차도<br>한번에 계산</p>
				</li>
				<li>
					<h2>운전자보험</h2>
					<p>당사 자동차보험<br>가입고객2%할인</p>
				</li>
				<li>
					<h2>실손의료보험</h2>
					<p>나에게 꼭 필요한 보장만<br>쉽고 간편하게</p>
				</li>
				<li>
					<h2>가족사랑 종합보험</h2>
					<p>입원비,각종 진단금<br>수술비까지 든든한 보장</p>
				</li>
				<li>
					<h2>이튼튼한 치아보험</h2>
					<p>자주 발생하고 큰 돈드는<br>치아치료</p>
				</li>
				<li>
					<h2>실속플러스 암보험</h2>
					<p>최초 암진단에서<br>재진단암까지</p>
				</li>
				<li>
					<h2>맘편한 자녀사랑보험</h2>
					<p>예비엄마와 소중한<br>내 아이를 위한 보험</p>
				</li>
				<li>
					<h2>간편치매보험</h2>
					<p>나와 가족을 위한<br>안전장치 보험</p>
				</li>
			</ul>
		</section>
	</div> -->

	<div id="container">
		<div class="list-box">
			<div class="list01">
				<strong>자동차보험(법인)</strong>
				<p>여러 대의 자동차도<br>한번에 계산</p>
				<div class="link-txt">
					<a href="#" class="btn-prd">상품소개</a>
					<a href="#" class="btn-calc">보험료계산</a>
				</div>
			</div>
			<div class="list02">
				<strong>운전자보험</strong>
				<p>당사 자동차보험<br>가입고객2%할인</p>
				<div class="link-txt">
					<a href="#" class="btn-prd">상품소개</a>
					<a href="#" class="btn-calc">보험료계산</a>
				</div>
			</div>
			<div class="list03">
				<strong>실손의료보험</strong>
				<p>나에게 꼭 필요한 보장만<br>쉽고 간편하게</p>
				<div class="link-txt">
					<a href="#" class="btn-prd">상품소개</a>
					<a href="#" class="btn-calc">보험료계산</a>
				</div>
			</div>
			<div class="list04 ws">
				<strong>가족사랑 종합보험</strong>
				<p>입원비,각종 진단금<br>수술비까지 든든한 보장</p>
				<div class="link-txt">
					<a href="#" class="btn-prd">상품소개</a>
				</div>
			</div>
			<div class="list05">
				<strong>이튼튼한 치아보험</strong>
				<p>자주 발생하고 큰 돈드는<br>치아치료</p>
				<div class="link-txt">
					<a href="#" class="btn-prd">상품소개</a>
				</div>
			</div>
			<div class="list06">
				<strong>실속플러스 암보험</strong>
				<p>최초 암진단에서<br>재진단암까지</p>
				<div class="link-txt">
					<a href="#" class="btn-prd">상품소개</a>
				</div>
			</div>
			<div class="list07">
				<strong>맘편한 자녀사랑보험</strong>
				<p>예비엄마와 소중한<br>내 아이를 위한 보험</p>
				<div class="link-txt">
					<a href="#" class="btn-prd">상품소개</a>
				</div>
			</div>
			<div class="list08 ws">
				<strong>간편치매보험</strong>
				<p>나와 가족을 위한<br>안전장치 보험</p>
				<div class="link-txt">
					<a href="#" class="btn-prd">상품소개</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>