*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 24px;
    height: 50px;
}
header .logo img{
    width: 44px;
    height: 35.44px;
}
header .menu{
    display: flex;
}
header .menu li{
    padding: 30px;
}
header .menu li a{
    font-size: 14px;
    font-weight: bold;
    color: #000;
}
header .menu li a:hover{
    color: red;
}
header .iconsAndQuicklink{
    display: flex;
    position: relative;
}
header .iconsAndQuicklink .searchbtn{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 52px;
    height: 54px;
    background-image: url("img/searchBlack_btn.png");
    background-position: center;
    background-repeat: no-repeat;
}

.section1{
    margin-bottom: 18px;
}

.section2{
    width: 1600px;
    height: 700px;
    margin: 0 auto;
    padding: 24px;
}
.section2 h1{
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-left: 20px;
}
.section2 h1 .sk{
    color: rgb(214, 22, 22);
}
.section2 h1 .high{
    color: rgb(252, 115, 4);
}
.section2 .cont{
    display: flex;
    justify-content: space-between;
    height: 600px;

}
.section2 .cont .cont1{
    background-image: url("img/index_cont02.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.section2 .cont .cont_tit{
    font-size: 30px;
    color: #fff;
   
}
.section2 .cont .cont2{
    background-image: url("img/index_cont03.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section2 .cont .cont3{
    background-image: url("img/index_cont04.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}