*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 24px;
    height: 50px;
}
header .logo img{
    width: 44px;
    height: 35.44px;
}
header .menu{
    display: flex;
}
header .menu li{
    padding: 30px;
}
header .menu li a{
    font-size: 14px;
    font-weight: bold;
    color: #000;
}
header .menu li a:hover{
    color: red;
}
header .iconsAndQuicklink{
    display: flex;
    position: relative;
}
header .iconsAndQuicklink .searchbtn{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 52px;
    height: 54px;
    background-image: url("img/searchBlack_btn.png");
    background-position: center;
    background-repeat: no-repeat;
}


.section2{
    width: 1600px;
    height: 600px;
    margin: 0 auto;
    padding: 24px;
    background-color: red;
}
.section2 h1{
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 20px;
}