*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 24px;
    height: 50px;
}
header .logo img{
    width: 44px;
    height: 35.44px;
}
header .menu{
    display: flex;
}
header .menu li{
    padding: 30px;
}
header .menu li a{
    font-size: 14px;
    font-weight: bold;
    color: #000;
}
header .menu li a:hover{
    color: red;
}
header .iconsAndQuicklink{
    display: flex;
    position: relative;
}
header .iconsAndQuicklink .searchbtn{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 52px;
    height: 54px;
    background-image: url("img/searchBlack_btn.png");
    background-position: center;
    background-repeat: no-repeat;
}
.section1{
    width: 1920px;
    height: 1075px;
}
.section2{
    width: 1600px;
    margin: 0 auto;
}
.section2 h1{
    margin: 41px 0px 22px 19px;
}
.section2 h1 .sk{
    color: #de071a;
}
.section2 h1 .get{
    color: #fc6620;
}
.section2 .sec_cont .cont{
    display: flex;
    justify-content: space-between;
    height: 600px;
}
.section2 .sec_cont .cont .cont1{
    background-image: url('img/index_cont02.jpg');
    width: 533.3333px;
    background-position: center;
    text-align: left;
    padding: 50px 45px;
}
.section2 .sec_cont .cont .cont1 .cont_tit{
    font-size: 35px;
    color: #fff;
}
.section2 .sec_cont .cont .cont1 .cont_subtit b{
    font-size: 20px;
    color: #fff;
}
.section2 .sec_cont .cont .cont1 .cont_subtit{
    font-size: 17px;
    color: #fff;
}

.section2 .sec_cont .cont .cont2{
    background-image: url('img/index_cont03.jpg');
    width: 533.3333px;
    background-position: center;
    text-align: left;
    padding: 50px 45px;
}
.section2 .sec_cont .cont .cont2 .cont_tit{
    font-size: 35px;
    color: #fff;
}
.section2 .sec_cont .cont .cont2 .cont_subtit b{
    font-size: 20px;
    color: #fff;
}
.section2 .sec_cont .cont .cont2 .cont_subtit{
    font-size: 17px;
    color: #fff;
}

.section2 .sec_cont .cont .cont3{
    background-image: url('img/index_cont04.jpg');
    width: 533.3333px;
    background-position: center;
    text-align: left;
    padding: 50px 45px;
}
.section2 .sec_cont .cont .cont3 .cont_tit{
    font-size: 35px;
    color: #fff;
}
.section2 .sec_cont .cont .cont3 .cont_subtit b{
    font-size: 20px;
    color: #fff;
}
.section2 .sec_cont .cont .cont3 .cont_subtit{
    font-size: 17px;
    color: #fff;
}

.section3{
    width: 1600px;
    height: 926px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}
.section3 h1{
    margin: 41px 0px 22px;
}
.section3 h1 .sk{
    color: #de071a;
}
.section3 h1 .high{
    color: #fc6620;
}
.section3 .cont1{
    background-image: url('img/20210415181938(0).jpg');
    width: 770.25px;
    height: 410px;
    float: left;
}
.section3 .cont2{
    background-image: url('img/20210414101915(0).jpg');
    width: 770.25px;
    height: 410px;
    float: right;
}
.section3 .cont3{
    background-image: url('img/20210504111511(0).jpg');
    width: 770.25px;
    height: 410px;
    float: left;
}
.section3 .cont4{
    background-image: url('img/20210329135717(0).jpg');
    width: 770.25px;
    height: 410px;
    float: right;
}

footer{
    clear: both;
    height: 138px;
    color: #f4f4f4;
    text-align: center;
}