<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ninetree_복습</title>
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="css/font.css">
	<style>
		#container{
			width: 100%;
			padding: 50px 10%;
		}
		.intro-box{
			width: 100%;
		}
		.intro-box .intro-txt-box{
			width: 50%;
			float: left;
		}
		.intro-box > img{
			width:50%;
			float: right;
		}
		.intro-box .intro-txt-box h2 span{
			font-size: 14px;
			color: #a9c638;
			display: inline-block;
		}
		.intro-box .intro-txt-box p {
			font-size: 16px;
			color: #1c1c1c;
		}
	</style>
</head>
<body>
	<div id="container">
		<section class="intro">
			<div class="intro-box clearbox">
				<div class="intro-txt-box">
					<h2><span>WELCOME TO NINE TREE HOTEL DONGDAEMUN</span></h2>
					<img src="img/logo-w.png" alt="나인트리로고">
					<p>나인트리 호텔 동대문은 K-Fashion의 심장이자 디자인/창조산업의 발신지인<br> 동대문 패션타운과 동대문디자인플라자(DDP)와 근접해 있어 쇼핑과 문화를<br> 즐기기 위한 최적의 조건을 자랑합니다.</p>
				</div>
				<img src="img/main-img3.jpg" alt="나인트리호텔">
			</div>
		</section>
	</div>
</body>
</html>