/*#container{
	width: 1200px;
	margin: 0 auto;
	padding: 50px 0;
}
section h2{
	font-size: 19px;
	font-weight: bold;
	color: #000;
}
section p{
	font-size: 17px;
	color: #777;
	margin-top: 10px;
	line-height: 1.4em;
}
section ul li{
	width: 285px;
	height: 170px;
	border: 1px solid #ddd;
	border-radius: 10px;
	margin: 0 20px 20px 0;
	padding: 23px 28px;
	box-sizing: border-box;
	float: left;
}
section ul li:nth-child(4), li:nth-child(8){
	margin-right: 0;
}*/


#container{
	padding: 50px 0;
}
.list-box{
	width: 1200px;
	margin: 0 auto;
	font-size: 19px;
	color: #111;
}
.list-box > div{
	/*width: 22%;
	max-width: 258px;
	margin-right: 4%;*/
	width: 285px;
	float: left;
	border: 1px solid #ddd;
	border-radius: 0.5em;
	box-sizing: border-box;
	padding: 23px 28px 28px;
	margin-right: 20px;
	margin-bottom: 20px;
	background: url("../img/ico_prd_01.png") no-repeat 200px 90px;
	/*transition: all 0.5s;*/
	/*box-shadow: 0 0 0 #fff;*/
	transition: box-shadow 0.5s, background-position 0.5s;
}
.list-box > div:hover{
	box-shadow: 0 4px 12px red;
	background-position: 200px 30px;
}
.list-box > .list01{
	margin-bottom: 20px;
}
.list-box > .list02{
	margin-bottom: 20px;
	background-image: url("../img/ico_prd_02.png");
}
.list-box > .list03{
	margin-bottom: 20px;
	background-image: url("../img/ico_prd_03.png");
}
.list-box > .list04{
	margin-bottom: 20px;
	background-image: url("../img/ico_prd_04.png");
}
.list-box > .list05{
	margin-bottom: 20px;
	background-image: url("../img/ico_prd_15.png");
}
.list-box > .list06{
	margin-bottom: 20px;
	background-image: url("../img/ico_prd_16.png");
}
.list-box > .list07{
	margin-bottom: 20px;
	background-image: url("../img/ico_prd_07.png");
}
.list-box > .list08{
	margin-bottom: 20px;
	background-image: url("../img/ico_prd_08.png");
}

.list-box > .ws{
	margin-right: 0;
}
.list-box p{
	font-size: 17px;
	color: #777;
	line-height: 1.4em;
	margin-top: 0.6em;
	margin-bottom: 0.6em;
}
.list-box .btn-prd{
	background-color: #696e7d;
}
.list-box .btn-calc{
	background-color: #f3466b;
}

.link-txt{
	visibility: hidden;
}
.list-box > div:hover > .link-txt{
	visibility: visible;
}
.list-box a{
	font-size: 15px;
	color: #fff;
	display: inline-block;
	width: 100px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	border-radius: .2em;
}