#container{
    width: 100%;
}
header{
    width: 100%;
}
header .navbar{
    height: 58px;
    display: flex;
    justify-content: space-between;
}
.navbar > img{
    width: 44px;
    height: 35.44px;
    margin: 5px 20px;
}
header .navbar > ul{
    display: flex;
    justify-content: space-between;
}
header .navbar > ul li{
    padding: 10px 0 14px;
    margin: 0 17px;
    text-align: center;
}
header .navbar > ul li a{
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    color: #000;
    padding: 10px;
}
header .navbar > ul li a:hover{
    color: #de071a;
}
header .navbar .icons-nav{
    display: flex;
}
header .navbar .icons-nav ul {
    display: flex;
}
header .navbar .icons-nav .search-btn{
    width: 52px;
    height: 58px;
    text-align: center;
    padding-top: 20px;
    box-sizing: border-box;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    cursor: pointer;
}
header .navbar .icons-nav > img{
    width: 19px;
    height: 19px;
}
header .navbar .icons-nav ul {
    padding: 0 4px 0;
}
header .navbar .icons-nav .lang{
    width: 67.94px;
    text-align: center;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
header .navbar .icons-nav .lang a::after{
    content: "";
    display: inline-block;
    width: 10px;
    height: 7px;
    background: url('../img/tiny_downBlack_triangle.png') no-repeat;
    margin-left: 8px;
    box-sizing: border-box;
}
header .navbar .icons-nav .lang a{
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    color: #333;
    padding-top: 20px;
    letter-spacing: 0.1em;
}
header .navbar .icons-nav .link-btn{
    width: 111.53px;
    background-color: #de071a;
    text-align: center;
    padding: 0 10px;
    box-sizing: border-box;
}
header .navbar .icons-nav .link-btn a{
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    color: #fff;
    padding-top: 20px;
    letter-spacing: 0.2em;
}
header .navbar .icons-nav .link-btn a::after{
    content: "";
    display: inline-block;
    width: 6px;
    height: 11px;
    background: url('../img/tiny_right_triangle.png') no-repeat;
    margin-left: 5px;
    vertical-align: middle;
}
header .main-banner{
    width: 100%;
    height: 907.19px;
    text-indent: -9999px;
    background: url('../img/main.jpg') no-repeat center center/ cover;
}
#wrap h2{
    font-size: 24px;
    font-weight: bold;
    color: #fc6620;
}
#wrap h2 > span{
    color: #de071a;
}
.gate-sec ul p{
    font-size: 35px;
    color: #fff;
}
.gate-sec ul span{
    font-size: 17px;
    color: #fff;
}
.gate-sec ul em{
    font-size: 20px;
    font-weight: bold;
}
.high-sec p{
    font-size: 23px;
    color: #fff;
}
footer{
    font-weight: 500;
}
footer address .ad-txt{
    font-size: 13px;
    color: #000;
}
footer address .copy-txt{
    font-size: 14px;
    color: #000;
}
footer .sitemap{
    font-size: 13px;
    color: #333;
}
