body{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000;
    color: #fff;
    height: 35px;
    padding: 8px 15px;
}
.menu_logo i{
    color: red;
}
.video{
    margin: 0;
}
video{
    width: 100%;
}

section{
   margin: 0px 15px;
}
.Info .metadata .hashtags{
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 0;
    display: flex;
}
.hashtags li{
    padding-right: 5px;
    color: rgb(24, 76, 248);
    font-size: 14px;
    font-weight: bold;
}
.titleAndButton{
    display: flex;
}
.titleAndButton .title{
    margin-bottom: 5px;
    font-size: 15px;
}
.titleAndButton .morebtn{
    width: 20px;
    height: 20px;
    background: none;
    border: none;
    color: rgb(121, 118, 118);
}
.metadata .views{
    font-size: 12px;
    font-weight: bold;
    color: gray;
}
.actions{
    display: flex;
    justify-content: space-around;
    padding: 0;
}