body{
    margin: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000;
    color: #fff;
    height: 35px;
    padding: 8px 15px;
}
.menu_logo i{
    color: red;
}

video{
    width: 100%;
}