body{
   margin: 0;
}
a{
    text-decoration: none;
    color: #fff;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 24px;
    background-color: #a69b97;
}
.navbar_logo{
    font-size: 28px;
}
.navbar_logo i{
    color: #efdcd5;
}
.btn1{
    display: none;
    font-size: 28px;
    color: #efdcd5;
}

.navbar_menu{
    font-size: 18px;
    list-style: none;
    display: flex;
    padding-left: 0;
}
.navbar_menu li{
    padding: 8px 12px;
}
.navbar_menu li:hover{
    background-color: #d7ccc8;
    border-radius: 4px;
}

.navbar_icons{
    font-size: 24px;
}
.navbar_icons i{
    padding-left: 8px;
}
.btn{
    display: none;
    font-size: 28px;
}
@media screen and (max-width: 768px){
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar_logo>i{
        display: none;
    }
    .btn1{
        display: inline-block;
    }
    .navbar_menu{
        display: none;
        flex-direction: column;
        width: 100%;
    }
    .navbar_menu li{
        text-align: center;
    }
    .navbar_icons{
        display: none;
        width: 100%;
        text-align: center;
        padding-top: 20px;
    }
    .btn{
        display: block;
        position: absolute;
        right: 32px;
    }
}