body{
    margin: 0;
    font-family: 'DM Sans', sans-serif;
}
a{
    text-decoration: none;
    color: rgb(207, 196, 196);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(90, 163, 197);
    padding: 8px 24px;
}
.navbar_logo{
    color: rgb(207, 196, 196);
    font-size: 24px;
}
.navbar_logo i{
    color: rgb(9, 93, 114);
}
.navbar_menu{
    display: flex;
    list-style: none;
    padding-left: 0;
}
.navbar_menu li{
    padding: 8px 12px;
}
.navbar_menu li:hover{
    background-color: rgb(27, 14, 59);
    border-radius: 4px;
}
.navbar_icons{
    color: rgb(207, 196, 196);
    padding-left: 0;
}
.navbar_icons i{
    padding: 8px 12px;
}
.btn{
    display: none;
    font-size: 24px;
    color: rgb(9, 93, 114);
    position: absolute;
    right: 32px;
}
@media screen and (max-width:768px){
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }
    .navbar_menu{
        display: none;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }
    .navbar_icons{
        display: none;
        justify-content: center;
        width: 100%;
    }
    .btn{
        display: block;
    }
    .navbar_menu.active,
    .navbar_icons.active{
        display: flex;
    }
}